/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  max-height: 100vh;
  font-family: Roboto, Montserrat, Helvetica Neue Light, Helvetica Neue, Arial, Lucida Grande, sans-serif;
}
